@model IEnumerable<ToDo.Models.Comentario>

@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid px-4">
    <h1 class="mt-4">Comentarios</h1>
    <ol class="breadcrumb mb-4">
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            <a asp-action="Create" class="btn btn-success"><i class="fa-solid fa-plus"></i></a>
            <br />
            <br />
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TarefaId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Comentarios)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DataCriacao)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TarefaId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Comentarios)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataCriacao)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa-solid fa-pencil"></i></a> |
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

